<form [formGroup]="updateForm">
    <div class="create-form">
        <section class="create-form__name">
            <label>Название</label>
            <input type="text" formControlName="name" [value]="MeetUpItem?.name">
        </section>
        <section class="create-form__description">
            <label>Описание</label>
            <input type="text" formControlName="description" [value]="MeetUpItem?.description">
        </section>
        <section class="create-form__time">
            <label>Дата</label>
            <input type="date" formControlName="time">
        </section>
        <section class="create-form__duration">
            <label>Продолжительность</label>
            <input type="text" formControlName="duration">
        </section>
        <section class="create-form__location">
            <label>Локация</label>
            <input type="text" formControlName="location">
        </section>
        <section class="create-form__audience">
            <label>Целевая аудитория</label>
            <textarea type="text" formControlName="target_audience"></textarea>
        </section>
        <section class="create-form__need-know">
            <label>Что нужно знать</label>
            <textarea type="text" formControlName="need_to_know"></textarea>
        </section>
        <section class="create-form__will-happen">
            <label>Что будет</label>
            <textarea type="text" formControlName="will_happen"></textarea>
        </section>
        <section class="create-form__reason-come">
            <label>Зачем приходить</label>
            <textarea type="text" formControlName="reason_to_come"></textarea>
        </section>
            <button class="create-form__btnUpdate" (click)="updateMeetup()">Обновить митап</button>
    </div>
</form>

