.create-form {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.create-form__name, .create-form__description,
.create-form__time, .create-form__duration,
.create-form__location, .create-form__audience,
.create-form__need-know, .create-form__will-happen,
.create-form__reason-come {
    display: flex;
    gap: 100px;
    align-items: center;
    
}

.create-form__audience textarea,
.create-form__need-know textarea, .create-form__will-happen textarea,
.create-form__reason-come textarea {
    height: 100px;
}

input, textarea {
    background-color: var(--color-bg-medium);
    border:2px solid var(--color-primary);
    width: 600px;
    padding: 10px;
    color: var(--color-text);
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    resize: none;
}
label {
    width: 160px;
}

input:focus, textarea:focus {
    border-color: var(--color-hover);
    outline: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.create-form__btns {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
}

.create-form__btnUpdate {
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-text);
    background: var(--color-primary);
    margin-left: 275px;
}

