<section class="meetup-card">
    <section class="meetup-card__header">
        <section class="meetup-card__header-refs">
            <a class="meetup-card__title" routerLink="updateMeetup/{{MeetUpItem?.id}}">
                {{MeetUpItem?.name}}
            </a>
            <div>Подписчики: {{MeetUpItem?.users?.length}}</div>
        </section>
            @if (isOwner()) {
                <a class="meetup-card__title" routerLink="updateMeetup/{{MeetUpItem?.id}}">Редактировать митап</a>
            }
    </section>
    <div>
        Описание: {{MeetUpItem?.description}}
    </div>
    <div>
        Дата: {{MeetUpItem?.time | date}}
    </div>
    <div>
        Место: {{MeetUpItem?.location}}
    </div>
    <div>
        Целевая аудитория: {{MeetUpItem?.target_audience}}
    </div>
    <div>
        Что нужно знать: {{MeetUpItem?.need_to_know}}
    </div>
    <div>
        Что будет: {{MeetUpItem?.will_happen}}
    </div>
    <div>
        Зачем приходить: {{MeetUpItem?.reason_to_come}}
    </div>
    <div>
        автор: {{MeetUpItem?.owner?.fio}}
    </div>
    @if (isOwner()) {
        <button (click)="deleteMeetup()">Удалить</button>
    }
    <button (click)="subscrUser()">Подписаться</button>
    <button (click)="unSubscrUser()">Отписаться</button>
</section>
