<section class="user-card">
    <div class="user-card__input">
        <input type="text" disabled [(ngModel)]="userItem.id" value="userItem.id"/>
         <input type="text" [(ngModel)]="userData.email" value="userItem.email"/>
         <input type="password" [(ngModel)]="userData.password" value="userItem.password"/>
         <input type="text" [(ngModel)]="userData.fio" value="userItem.fio"/>    
    </div>
    <section class="user-card__fio">
        
        <app-choose-status [roleItem]="role" (choosenStatus)="updateRole()">{{userItem.roles[0].name}}</app-choose-status>
        <button (click)="deleteUser()">Удалить пользователя</button>
        <button (click)="updateUser()">Изменить</button>
    </section>
</section>
