.user-card__input {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.user-card {
    width: 700px;
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 20px;
    color: var(--color-text);
}

.user-card__fio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

button {
    border-radius: 10px;
    padding: 4px 30px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-text);
    background: var(--color-secondary);
}

input {
    background-color: var(--color-hover);
    color: var(--color-text);
    font-family: 'Fira Sans', sans-serif;
    resize: none;
    outline: none;
    padding: 5px;
    border: none;
}