app-meetup-card {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: left;
    align-items: center;
}

button {
    position: absolute;
    top: 150px;
    left: 1200px;
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background 0.25s;
    font-size: 16px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    color: var(--color-text);
    background: var( --color-secondary);
}

app-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-left: 450px;
    width: 700px;
    background-color: var(--color-bg-medium);
    border:2px solid var(--color-primary);
    width: 600px;
    padding: 10px;
    color: var(--color-text);
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    resize: none;
}

input:focus {
    border-color: var(--color-hover);
    outline: none;
}